body{
  font-family: fantasy;
  font-size: 13px;
  width: 98%;
}
.fila{
  width: 100%;
  display: flex;
  justify-content: center;

}

.imagen{
  border: 1px solid #D8D8D8;
  float: left;
  margin: 10px;
  padding: 2px;
  width: 120px;
  text-align: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;

}
.imagen img{
  width: 120px;
}
